
.gitignore
.idea/
venv/Include/
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Quick3DAssetImport.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Quick3DRender.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Quick3DRuntimeRender.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Quick3DUtils.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickControls2.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickParticles.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickShapes.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickTemplates2.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickTest.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5QuickWidgets.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5RemoteObjects.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Sensors.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5SerialPort.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Sql.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Svg.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Test.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5WebChannel.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5WebSockets.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Widgets.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5WinExtras.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5Xml.dll
venv/Lib/site-packages/PyQt5/Qt/bin/Qt5XmlPatterns.dll
venv/Lib/site-packages/PyQt5/Qt/bin/ssleay32.dll
venv/Lib/site-packages/PyQt5/Qt/bin/vcruntime140.dll
venv/Lib/site-packages/PyQt5/Qt/bin/vcruntime140_1.dll
venv/Lib/site-packages/PyQt5/Qt/plugins/
venv/Lib/site-packages/PyQt5/Qt/qml/Qt/
venv/Lib/site-packages/PyQt5/Qt/qml/QtBluetooth/
venv/Lib/site-packages/PyQt5/Qt/qml/QtGraphicalEffects/
venv/Lib/site-packages/PyQt5/Qt/qml/QtLocation/
venv/Lib/site-packages/PyQt5/Qt/qml/QtMultimedia/
venv/Lib/site-packages/PyQt5/Qt/qml/QtNfc/
venv/Lib/site-packages/PyQt5/Qt/qml/QtPositioning/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQml/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/AbstractButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Action.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ActionGroup.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ApplicationWindow.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/BusyIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Button.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ButtonGroup.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/CheckBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/CheckDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ComboBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Container.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Control.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/DelayButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Dial.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Dialog.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/DialogButtonBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Drawer.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Frame.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Fusion/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/GroupBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/HorizontalHeaderView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Imagine
/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ItemDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Label.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/ApplicationWindow.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/BoxShadow.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/BusyIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Button.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/CheckBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/CheckDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/CheckIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/ComboBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/CursorDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/DelayButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Dial.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Dialog.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/DialogButtonBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Drawer.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/ElevationEffect.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Frame.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/GroupBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/HorizontalHeaderView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/ItemDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Label.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Menu.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/MenuBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/MenuBarItem.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/MenuItem.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/MenuSeparator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Page.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/PageIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Pane.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/Popup.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/ProgressBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/plugins.qmltypes
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Material/qmldir
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Menu.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/MenuBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/MenuBarItem.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/MenuItem.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/MenuSeparator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Page.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/PageIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Pane.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Popup.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ProgressBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/RadioButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/RadioDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/RangeSlider.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/RoundButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ScrollBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ScrollIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ScrollView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Slider.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/SpinBox.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/SplitView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/StackView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/SwipeDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/SwipeView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Switch.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/SwitchDelegate.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/TabBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/TabButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/TextArea.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/TextField.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ToolBar.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ToolButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ToolSeparator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/ToolTip.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/Tumbler.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/VerticalHeaderView.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/designer/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/plugins.qmltypes
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/qmldir
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls.2/qtquickcontrols2plugin.dll
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Controls/
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/DelayButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/DelayButton.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Dial.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Dial.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Gauge.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Gauge.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/PieMenu.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/PieMenu.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/StatusIndicator.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/StatusIndicator.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/ToggleButton.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/ToggleButton.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Tumbler.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/Tumbler.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/TumblerColumn.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/TumblerColumn.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/designer/CircularGaugeSpecifics.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/designer/CircularGaugeSpecifics.qmlc
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/designer/DelayButtonSpecifics.qml
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/plugins.qmltypes
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/qmldir
venv/Lib/site-packages/PyQt5/Qt/qml/QtQuick/Extras/qtquickextrasplugin.dll
venv/L
ib/site-packages/PyQt5/__pycache__/
venv/Lib/site-packages/PyQt5/uic/Compiler/__pycache__/
venv/Lib/site-packages/PyQt5/uic/Loader/__pycache__/
venv/Lib/site-packages/PyQt5/uic/__pycache__/
venv/Lib/site-packages/PyQt5/uic/port_v2/__pycache__/
venv/Lib/site-packages/PyQt5/uic/port_v3/__pycache__/
venv/Lib/site-packages/PyQt5/uic/widget-plugins/__pycache__/
venv/Lib/site-packages/easy-install.pth
venv/Lib/site-packages/pip-19.0.3-py3.8.egg/
venv/Lib/site-packages/setuptools-40.8.0-py3.8.egg
venv/Lib/site-packages/setuptools.pth
venv/Scripts/easy_install-3.8-script.py
venv/Scripts/easy_install-3.8.exe
venv/Scripts/easy_install-script.py
venv/Scripts/easy_install.exe
venv/Scripts/pip-script.py
venv/Scripts/pip.exe
venv/Scripts/pip3-script.py
venv/Scripts/pip3.8-script.py
venv/Scripts/pip3.8.exe
venv/Scripts/pip3.exe
